<p-panel header="" ngClass="headerPanel">
  <h2>Quizz App</h2>
  <div class="divHeaderMenu">
    <ul class="ulHeaderMenuItems">
      <li class="liHeaderMenu">
        <button pButton class="quizButton" routerLink="/home">Home</button>
      </li>

      <li class="liHeaderMenu">
        <button pButton class="quizButton" routerLink="user/user" >
          User
        </button>
      </li>
      <li class="liHeaderMenu">
        <button pButton class="quizButton" routerLink="/admin">Admin</button>
      </li>
    </ul>
  </div>
</p-panel>
