<div class="userContainer">
  <div class="divStart">
    <p-card>
      <div class="divUserName">
        <h1>working</h1>

        <h3>Enter Your Name :</h3>
        <input
          id="float-input"
          type="text"
          pInputText
          name="userName"
          [(ngModel)]="userName"
          #name="ngModel"
        />
        <span
          *ngIf="isNotUser"
          style="color: red; font-size: 18px; margin-left: 30px"
          >Please enter name</span
        >
        <br /><br /><br />
        <button
          
          pButton
          pRipple
          type="button"
          label="Success"
          class="p-button-rounded p-button-success"
          (click)="checkUser()"
        ></button>
      </div>
    </p-card>
  </div>
</div>
